@font-face {
    font-family: danse;
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
  }

:root {
    --dark-color: #010113;
  }
a{
    position: absolute;
    left: 43%;
  }
  pre {
    z-index: 1;
    color: aliceblue;
    font-family: danse;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .night {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        ellipse at top,
        transparent 0%,
        var(--dark-color)
      ),
      radial-gradient(
        ellipse at bottom,
        var(--dark-color),
        rgba(145, 233, 255, 0.2)
      ),
      repeating-linear-gradient(
        220deg,
        rgb(0, 0, 0) 0px,
        rgb(0, 0, 0) 19px,
        transparent 19px,
        transparent 22px
      ),
      repeating-linear-gradient(
        189deg,
        rgb(0, 0, 0) 0px,
        rgb(0, 0, 0) 19px,
        transparent 19px,
        transparent 22px
      ),
      repeating-linear-gradient(
        148deg,
        rgb(0, 0, 0) 0px,
        rgb(0, 0, 0) 19px,
        transparent 19px,
        transparent 22px
      ),
      linear-gradient(90deg, rgb(255, 94, 0), rgb(240, 240, 240));
  }

  .ph1{
    margin-left: 10%;
    height: 150px;
  }
  .ph2{
    margin-left: 10%;
    height: 187px;
  }
  .ph3{
    margin-left: 10%;
    height: 250px;
  }
  .button {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden; /* Pentru a ascunde stelele care ies în afara butonului */
  }
  
  .button::before,
  .button::after {
    content: '★'; /* folosim doar o stea */
    position: absolute;
    color: #ffd700; /* culoarea stelelor */
  }
  
  .button::before {
    font-size: 12px; /* dimensiunea stelelor */
  }
  
  .button::after {
    font-size: 14px; /* dimensiunea stelelor */
  }
  
  .button:hover {
    background-color: #333;
  }
  
  